{% extends 'layouts/base.twig' %}

{% block content %}
    <!-- Hero section -->
    <section
        class="relative"
        style="
            background-image: url('{{ theme.uri }}/assets/images/assets/images/hero/vehicle-hero.jpg');
            object-fit: cover;
            object-position: center;
            width: 100%;
            height: 100%;
        "
    >
        <div
            class="absolute top-0 left-0 w-full h-full bg-dark-green/90 z-[1] mix-blend-multiply"
        ></div>

        <div
            class="absolute bottom-0 left-0 w-full h-20 bg-gradient-to-t from-dark-green z-[2]"
        ></div>

        <div class="container">
            <div
                class="pt-10 lg:pt-[100px] pb-10 lg:pb-[84px] relative z-10"
            >
                <div class="w-full flex flex-col items-center relative">
                    <h2
                        class="text-light-green uppercase text-sm text-center tracking-[0.3em]"
                    >
                        VEHICLE BRANDING - GENERATING MORE REVENUE FOR YOUR
                        BUSINESS
                    </h2>

                    <h1
                        class="font-bold uppercase text-[32px] leading-[35px] lg:leading-[65px] lg:text-[70px] text-center pt-10 lg:pt-14 lg:w-4/5 mx-auto"
                    >
                        <span class="text-white"
                            >BE THE TALK OF THE TOWN WITH YOUR</span
                        ><span class="text-light-green">
                            VEHICLE BRANDED</span
                        >
                    </h1>

                    <p
                        class="text-white font-medium text-[22px] leading-[30px] text-center pt-10 lg:pt-[60px] lg:w-[57%]"
                    >
                        Invest in long-term growth! Vehicle branding
                        delivers continuous, cost-effective advertising that
                        drives sales for your business.
                    </p>
                </div>

                <!-- Anchored link buttons -->
                <div
                    class="flex flex-wrap gap-x-9 gap-y-6 pt-7 justify-center relative w-full lg:w-3/4 mx-auto"
                >
                    <a href="#fleet-branding" class="outline-button"
                        >FLEET BRANDING</a
                    >

                    <a href="#full-wraps" class="outline-button"
                        >FULL WRAPS</a
                    >

                    <a href="#part-wraps" class="outline-button"
                        >PART WRAPS</a
                    >

                    <a href="#signwriting" class="outline-button"
                        >SIGNWRITING</a
                    >

                    <a href="#chapter-8" class="outline-button"
                        >CHAPTER 8</a
                    >
                </div>
            </div>
        </div>
    </section>

    <!-- Two column image and text - image left -->
    <section class="bg-dark-green pb-10 lg:pb-20" id="fleet-branding">
        <div class="container">
            <div
                class="flex flex-wrap lg:flex-nowrap gap-10 lg:gap-[60px] items-center"
            >
                <div
                    class="w-full lg:w-1/2 lg:min-h-[632px] rounded-[20px] overflow-hidden"
                >
                    <img
                        src="{{ theme.uri }}/assets/images/assets/images/vehicle-branding/Ross Care_2-2.jpg"
                        alt="brick wrap"
                        class="object-cover object-center w-full h-full lg:min-h-[632px]"
                    />
                </div>
                <div class="w-full lg:w-1/2">
                    <h2
                        class="text-light-green uppercase text-sm tracking-[0.3em] pb-8"
                    >
                        DISCOUNTS AVAILABLE
                    </h2>
                    <h2
                        class="font-bold uppercase text-[32px] leading-[35px] lg:leading-[65px] lg:text-[70px] text-white"
                    >
                        FLEET BRANDING
                    </h2>

                    <h3
                        class="font-medium text-[32px] leading-[35px] pt-8 lg:pt-11 text-light-green"
                    >
                        Imagine your brand on every road – that's the power
                        of a branded fleet! Every vehicle becomes a mobile
                        billboard reaching countless potential customers.
                    </h3>

                    <p class="text-white pt-10">
                        At Brand Works we understand the importance of brand
                        identity. Presenting a professional and cohesive
                        image across your fleet is essential to stand out in
                        today’s competitive market.<br /><br />
                        Our Leeds based design team works closely with fleet
                        managers and business owners. We produce cost
                        effective, fleet graphics and vehicle livery
                        solutions. Stand out from the crowd, with high
                        impact fleet graphics designed and wrapped to
                        attract potential customers.<br /><br />
                        Let us help you make your mark while you’re on the
                        move! If you have cars, vans, trucks, or arctic
                        vehicles and would like to learn more. Then speak to
                        our team of experienced professionals about our
                        high-quality vehicle graphic services.
                    </p>

                    <div class="hidden lg:block pt-10">
                        <a
                            href="{{ site.url }}/contact-us"
                            target="_self"
                            class="solid-button-tall max-w-max"
                        >
                            START YOUR PROJECT
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Two column image and text - image right -->
    <section
        class="bg-gradient-to-b from-dark-green from-0 via-dark-green via-70% to-white to-100% pt-10 pb-10 lg:pb-20"
        id="full-wraps"
    >
        <div class="container">
            <div
                class="flex flex-wrap lg:flex-nowrap gap-10 lg:gap-[60px] items-center"
            >
                <div class="w-full lg:w-1/2">
                    <h2
                        class="font-bold uppercase text-[32px] leading-[35px] lg:leading-[65px] lg:text-[70px] text-white"
                    >
                        FULL WRAPS
                    </h2>

                    <h3
                        class="font-medium text-[32px] leading-[35px] pt-8 lg:pt-11 text-light-green"
                    >
                        Tired of being a nobody on the road? A full vehicle
                        wrap transforms your ride into a head-turning lead
                        magnet, driving customers to your business!
                    </h3>

                    <p class="text-white pt-10">
                        Forget ordinary. Our full vehicle wraps are designed
                        to make a statement. We don't merely cover your
                        vehicle, we craft a mobile work of art. From sleek
                        color changes to eye-popping designs, our expert
                        designers collaborate with you to bring your vision
                        to life.<br /><br />
                        Full wraps are an investment, but the rewards are
                        undeniable. Our premium vinyl acts like a shield,
                        safeguarding your original paint from everyday wear
                        and tear. Scratches, chips, and fading become a
                        thing of the past, keeping your vehicle looking
                        showroom-fresh and maximizing its resale value.<br /><br />
                        We're so confident in the quality of our materials
                        and the meticulous work of our installers that every
                        full wrap comes with a peace-of-mind 5-year
                        warranty.
                    </p>

                    <div class="hidden lg:block pt-10">
                        <a
                            href="{{ site.url }}/contact-us"
                            target="_self"
                            class="solid-button-tall max-w-max"
                        >
                            REQUEST A QUOTE
                        </a>
                    </div>
                </div>

                <div
                    class="w-full lg:w-1/2 lg:min-h-[632px] rounded-[20px] overflow-hidden"
                >
                    <img
                        src="{{ theme.uri }}/assets/images/assets/images/vehicle-branding/Solar_Fast_Van.jpg"
                        alt="Flying tiger"
                        class="object-cover object-center w-full h-full lg:min-h-[632px]"
                    />
                </div>
            </div>
        </div>
    </section>

    <!-- Two column image and text - image left -->
    <section class="pt-10 lg:pt-20 pb-10 lg:pb-20" id="part-wraps">
        <div class="container">
            <div
                class="flex flex-wrap lg:flex-nowrap gap-10 lg:gap-[60px] items-center"
            >
                <div
                    class="w-full lg:w-1/2 lg:min-h-[632px] rounded-[20px] overflow-hidden"
                >
                    <img
                        src="{{ theme.uri }}/assets/images/assets/images/vehicle-branding/Exsel_2.jpg"
                        alt="Locker room"
                        class="object-cover object-center w-full h-full lg:min-h-[632px]"
                    />
                </div>
                <div class="w-full lg:w-1/2">
                    <h2
                        class="font-bold uppercase text-[32px] leading-[35px] lg:leading-[65px] lg:text-[70px] text-light-green"
                    >
                        PART WRAPS
                    </h2>

                    <h3
                        class="font-medium text-[32px] leading-[35px] pt-8 lg:pt-11 text-dark-green"
                    >
                        Full wraps grab attention, but part wraps pack a
                        punch! Stand out without breaking the bank.
                    </h3>

                    <p class="pt-10">
                        Who says making a statement requires a full
                        makeover? Our part vehicle wraps offer a
                        budget-friendly way to transform your car and turn
                        heads on the road.<br /><br />Don't underestimate
                        their impact – a well-designed partial wrap can be
                        just as eye-catching and effective as a full wrap,
                        all at a fraction of the cost.<br /><br />
                        Part wraps allow you to customize specific areas of
                        your car, highlighting your favorite features or
                        adding a splash of personality. From sleek roof
                        wraps to bold hood graphics, the possibilities are
                        endless. This flexibility makes them a popular
                        choice for a reason – they cater to a wide range of
                        budgets and design preferences.
                    </p>

                    <div class="hidden lg:block pt-10">
                        <a
                            href="{{ site.url }}/contact-us"
                            target="_self"
                            class="solid-button-tall max-w-max"
                        >
                            BOOK A DESIGN CONSULTATION
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Two column image and text - image right -->
    <section class="pt-10 pb-10 lg:pb-28" id="signwriting">
        <div class="container">
            <div
                class="flex flex-wrap lg:flex-nowrap gap-10 lg:gap-[60px] items-center"
            >
                <div class="w-full lg:w-1/2">
                    <h2
                        class="font-bold uppercase text-[32px] leading-[35px] lg:leading-[65px] lg:text-[70px] text-light-green"
                    >
                        SIGNWRITING & PANEL INFILLS
                    </h2>

                    <h3
                        class="font-medium text-[32px] leading-[35px] pt-8 lg:pt-11 text-dark-green"
                    >
                        Impactful branding at a budget-friendly price. Get
                        your message out there, the smart, simple and
                        cost-effective way.
                    </h3>

                    <p class="text-dark-green pt-10">
                        Unlike a full wrap that covers the entire vehicle,
                        signwriting and infills allow for a more targeted
                        approach. You can strategically place your branding
                        on high-traffic areas of your vehicles, such as
                        doors, hoods, and rear panels. This ensures your
                        message gets maximum exposure in the areas most
                        likely to be seen by potential customers, like
                        during traffic stops or while parked in
                        high-visibility locations.
                    </p>

                    <div class="hidden lg:block pt-10">
                        <a
                            href="{{ site.url }}/contact-us"
                            target="_self"
                            class="solid-button-tall max-w-max"
                        >
                            DRIVE MORE LEADS
                        </a>
                    </div>
                </div>

                <div
                    class="w-full lg:w-1/2 lg:min-h-[632px] rounded-[20px] overflow-hidden"
                >
                    <img
                        src="{{ theme.uri }}/assets/images/assets/images/vehicle-branding/infils.JPG"
                        alt="Flying tiger"
                        class="object-cover object-center w-full h-full lg:min-h-[632px]"
                    />
                </div>
            </div>
        </div>
    </section>

    <!-- Return on investment section -->
    <section class="py-10 lg:py-20 bg-dark-green">
        <div class="container">
            <h2
                class="w-full font-bold uppercase text-[32px] leading-[35px] lg:leading-[65px] lg:text-[70px] text-center pb-10 lg:pb-20"
            >
                <span class="text-light-green"
                    >RETURN ON INVESTMENT<br
                /></span>
                <span class="text-white">OF VEHICLE BRANDING</span>
            </h2>

            <div
                class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-4"
            >
                <div
                    class="col-span-1 border border-white rounded-[20px] flex flex-col items-center text-white p-6 lg:p-10"
                >
                    <img
                        src="{{ theme.uri }}/assets/images/assets/images/investment-icons/pound-up.svg"
                        alt="Pound increase"
                        data-mh="icon"
                    />

                    <h3
                        data-mh="title"
                        class="font-bold text-lg text-light-green leading-[26px] text-center pt-8"
                    >
                        LEAD GENERATION AND SALES GROWTH
                    </h3>

                    <p
                        data-mh="content"
                        class="text-white text-center pt-6"
                    >
                        A branded vehicle with clear messaging can generate
                        leads by prompting enquiries and website visits.
                        Eye-catching graphics and a call to action can turn
                        heads into paying customers.
                    </p>
                </div>

                <div
                    class="col-span-1 border border-white rounded-[20px] flex flex-col items-center text-white p-6 lg:p-10"
                >
                    <img
                        src="{{ theme.uri }}/assets/images/assets/images/investment-icons/person.svg"
                        alt="Person"
                        data-mh="icon"
                    />

                    <h3
                        data-mh="title"
                        class="font-bold text-lg text-light-green leading-[26px] text-center pt-8"
                    >
                        INCREASED BRAND AWARENESS
                    </h3>

                    <p
                        class="text-white text-center pt-6"
                        data-mh="content"
                    >
                        Eye-catching vehicle graphics act as mobile
                        billboards, constantly putting your brand in front
                        of a wide audience. Studies show vehicle wraps can
                        generate 30,000-70,000 impressions daily,
                        significantly boosting brand recognition.
                    </p>
                </div>

                <div
                    class="col-span-1 border border-white rounded-[20px] flex flex-col items-center text-white p-6 lg:p-10"
                >
                    <img
                        src="{{ theme.uri }}/assets/images/assets/images/investment-icons/piggy-bank.svg"
                        alt="Piggy bank"
                        data-mh="icon"
                    />

                    <h3
                        data-mh="title"
                        class="font-bold text-lg text-light-green leading-[26px] text-center pt-8"
                    >
                        COST EFFECTIVE LONG TERM ADVERTISING
                    </h3>

                    <p
                        data-mh="content"
                        class="text-white text-center pt-6"
                    >
                        Compared to traditional advertising methods like
                        billboards or TV commercials, vehicle branding
                        offers a much lower cost per impression. The long
                        lifespan of wraps (Up to 7 years) further extends
                        the value, making it a highly cost-effective way to
                        reach potential customers.
                    </p>
                </div>

                <div
                    class="col-span-1 border border-white rounded-[20px] flex flex-col items-center text-white p-6 lg:p-10"
                >
                    <img
                        src="{{ theme.uri }}/assets/images/assets/images/investment-icons/merit.svg"
                        alt="Merit"
                        data-mh="icon"
                    />

                    <h3
                        data-mh="title"
                        class="font-bold text-lg text-light-green leading-[26px] text-center pt-8"
                    >
                        IMPROVED BRAND CREDIBILITY
                    </h3>

                    <p
                        data-mh="content"
                        class="text-white text-center pt-6"
                    >
                        A professional and well-designed vehicle wrap
                        signifies a company that takes pride in its image.
                        This can build trust and credibility with potential
                        customers, leading to a positive brand perception
                        and ultimately, increased sales.
                    </p>
                </div>
            </div>
        </div>
    </section>

    <!-- Two column image and text - image left -->
    <section class="pt-10 pb-10 lg:pb-20" id="chapter-8">
        <div class="container">
            <div
                class="flex flex-wrap lg:flex-nowrap gap-10 lg:gap-[60px] items-center"
            >
                <div
                    class="w-full lg:w-1/2 lg:min-h-[632px] rounded-[20px] overflow-hidden"
                >
                    <img
                        src="{{ theme.uri }}/assets/images/assets/images/vehicle-branding/Morris_1.png"
                        alt="Locker room"
                        class="object-cover object-center w-full h-full lg:min-h-[632px]"
                    />
                </div>
                <div class="w-full lg:w-1/2">
                    <h2
                        class="font-bold uppercase text-[32px] leading-[35px] lg:leading-[65px] lg:text-[70px] text-light-green"
                    >
                        CHAPTER 8
                    </h2>

                    <h3
                        class="font-medium text-[32px] leading-[35px] pt-8 lg:pt-11 text-dark-green"
                    >
                        We Ensure Your Vehicles Meet All Highway Regulations
                    </h3>

                    <p class="pt-10">
                        We understand the importance of both brand
                        visibility and road safety. That's why we offer
                        expert installation of compliant chevron and Chapter
                        8 kits alongside your custom vehicle graphics. These
                        essential safety elements ensure your branded fleet
                        adheres to Department of Transportation (DOT)
                        regulations, preventing potential fines and keeping
                        your drivers and others on the road safe and seen.
                        <span class="block font-bold pt-2"
                            >&#8226;&nbsp;Chevrons:</span
                        >
                        <span class="block ml-4"
                            >These high-visibility markings are mandatory
                            for wide vehicles exceeding a certain width.
                            They enhance visibility during nighttime or
                            low-light conditions, alerting other drivers to
                            your presence.</span
                        >
                        <span class="block font-bold pt-2"
                            >&#8226;&nbsp;Chapter 8 Kits:</span
                        >
                        <span class="block ml-4"
                            >These reflective markings are required for
                            oversized vehicles and specific types of cargo.
                            They improve nighttime visibility, particularly
                            the vehicle's width and length, ensuring safe
                            operation on the road.</span
                        >
                    </p>

                    <div class="hidden lg:block pt-10">
                        <a
                            href="{{ site.url }}/contact-us"
                            target="_self"
                            class="solid-button-tall max-w-max"
                        >
                            STAY LEGAL ON THE ROAD
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Trusted by logos slider -->
    <section class="pb-10 lg:pb-20">
        <div class="container">
            <div
                class="js-trusted-by-slider py-10 w-full flex justify-center"
            >
                <div>
                    <div class="flex justify-center items-center h-[126px]">
                        <img
                            src="{{ theme.uri }}/assets/images/assets/images/vehicle-branding/accreditations/3M_wordmark.svg.png"
                            alt="Asda"
                            class="max-w-[216px] max-h-[126px] mx-auto"
                        />
                    </div>
                </div>
                <div>
                    <div class="flex justify-center items-center h-[126px]">
                        <img
                            src="{{ theme.uri }}/assets/images/assets/images/vehicle-branding/accreditations/arlon-logo.webp"
                            alt="Asda"
                            class="max-w-[216px] max-h-[126px] mx-auto"
                        />
                    </div>
                </div>
                <div>
                    <div class="flex justify-center items-center h-[126px]">
                        <img
                            src="{{ theme.uri }}/assets/images/assets/images/vehicle-branding/accreditations/1280px-Orafol_logo.svg.png"
                            alt="Asda"
                            class="max-w-[216px] max-h-[126px] mx-auto"
                        />
                    </div>
                </div>
                <div>
                    <div class="flex justify-center items-center h-[126px]">
                        <img
                            src="{{ theme.uri }}/assets/images/assets/images/vehicle-branding/accreditations/avery-dennison7859.logowik.com.webp"
                            alt="Asda"
                            class="max-w-[216px] max-h-[126px] mx-auto"
                        />
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Easy as steps -->
    <section class="py-10 lg:py-20 bg-dark-green">
        <div class="container">
            <h2 class="text-white font-bold text-[45px] pb-10">
                AS EASY AS 1, 2, 3...
            </h2>

            <div
                class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4 lg:gap-8 lg:grid-rows-2"
            >
                <div class="col-span-1 border-t border-white">
                    <div class="py-6 lg:py-8">
                        <span class="text-white text-lg inline-block pr-1"
                            >01</span
                        >
                        <span
                            class="text-light-green font-bold text-[32px] leading-[40px]"
                            >Initial <br />Consultation.</span
                        >

                        <p class="text-white pt-2">
                            We begin with an in-depth discussion to
                            understand your specific needs, goals, and the
                            scope of your project.
                        </p>
                    </div>
                </div>

                <div class="col-span-1 border-t border-white">
                    <div class="py-6 lg:py-8">
                        <span class="text-white text-lg inline-block pr-1"
                            >02</span
                        >
                        <span
                            class="text-light-green font-bold text-[32px] leading-[40px]"
                            >Design & <br />development.</span
                        >

                        <p class="text-white pt-2">
                            After our consultation, we'll create a visual
                            mockup of your vehicle for your review and
                            collaboration. We'll refine it together until
                            you're thrilled with the design.
                        </p>
                    </div>
                </div>

                <div
                    class="col-span-1 border-t border-white lg:row-start-2 lg:col-start-2"
                >
                    <div class="py-6 lg:py-8">
                        <span class="text-white text-lg inline-block pr-1"
                            >03</span
                        >
                        <span
                            class="text-light-green font-bold text-[32px] leading-[40px]"
                            >Production & <br />Manufacturing.</span
                        >

                        <p class="text-white pt-2">
                            Upon your sign-off, we'll move your project into
                            production for printing/manufacturing.
                        </p>
                    </div>
                </div>

                <div
                    class="col-span-1 border-t border-white lg:row-start-2 lg:col-start-3"
                >
                    <div class="py-6 lg:py-8">
                        <span class="text-white text-lg inline-block pr-1"
                            >04</span
                        >
                        <span
                            class="text-light-green font-bold text-[32px] leading-[40px]"
                            >Install & <br />Aftercare.</span
                        >

                        <p class="text-white pt-2">
                            After professional installation of your
                            graphics, we'll provide an aftercare kit to
                            ensure its longevity. You drive away happy.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Transparent pricing -->
    <section class="py-10 lg:py-20 bg-[#105255]">
        <div class="container">
            <div class="flex flex-wrap">
                <div class="w-full lg:w-1/2">
                    <h2
                        class="font-bold text-[32px] leading-[35px] lg:text-[65px] lg:leading-[57px]"
                    >
                        <span class="text-white">TRANSPARENT<br /></span
                        ><span class="text-light-green"
                            >PRICING GUIDES.</span
                        >
                    </h2>

                    <div
                        class="grid grid-cols-2 gap-10 text-white font-semibold pt-10 lg:pt-12"
                    >
                        <span
                            class="text-[22px] leading-[26px] col-span-1 flex gap-2"
                        >
                            <span>&#x2022;</span>
                            <span>
                                <span class="text-light-green"
                                    >A clear breakdown of costs</span
                                >
                                for materials, design, and installation.
                            </span>
                        </span>

                        <span
                            class="text-[22px] leading-[26px] col-span-1 flex gap-2"
                        >
                            <span>&#x2022;</span>
                            <span>
                                Different options to
                                <span class="text-light-green"
                                    >fit your budget</span
                                >
                                and branding goals.
                            </span>
                        </span>

                        <span
                            class="text-[22px] leading-[26px] col-span-1 flex gap-2"
                        >
                            <span>&#x2022;</span>
                            <span>
                                <span class="text-light-green"
                                    >Design packages</span
                                >
                                to suit your budget.
                            </span>
                        </span>

                        <span
                            class="text-[22px] leading-[26px] col-span-1 flex gap-2"
                        >
                            <span>&#x2022;</span>
                            <span>
                                <span class="text-light-green"
                                    >No pressure sales</span
                                >
                                tactics, just honest communication.
                            </span>
                        </span>
                    </div>

                    <div class="pt-10 lg:pt-20">
                        <a
                            href="{{ site.url }}/contact-us"
                            target="_self"
                            class="solid-button-tall max-w-max"
                        >
                            DOWNLOAD OUR PRICING BROCHURE
                        </a>
                    </div>
                </div>

                <div class="w-full lg:w-1/2 pt-10 lg:pt-0">
                    <img
                        src="{{ theme.uri }}/assets/images/assets/images/vehicle-branding/download-brochures.png"
                        alt="Download brochures"
                    />
                </div>
            </div>
        </div>
    </section>

    <!-- FAQ's -->
    <section class="bg-dark-green py-10 lg:py-20">
        <div class="container">
            <h2
                class="uppercase text-[32px] leading-[35px] lg:text-[45px] lg:leading-[46px] font-bold text-white text-center"
            >
                FREQUENTLY ASKED QUESTIONS
            </h2>

            <p class="text-white text-center w-full lg:w-1/2 mx-auto pt-8">
                If you have any questions about our services, experience or
                projects, find answers to some common client questions
                below, or get in touch with our team who will be happy to
                help.
            </p>

            <div class="flex flex-wrap gap-7 lg:flex-nowrap pt-10">
                <div class="col-one-container w-full lg:w-1/2">
                    <div
                        class="accordion js-accordion cursor-pointer flex flex-col gap-y-7"
                    >
                        <div class="accordion__item js-accordion-item">
                            <div
                                class="accordion-header js-accordion-header flex justify-between items-center bg-white rounded-2xl p-10"
                            >
                                <h3 class="font-semibold text-[22px] pr-4">
                                    Do I need to clean my vehicles before
                                    wrapping?
                                </h3>
                                <div
                                    class="flex justify-center items-center p-2 bg-[#F4F4F4] rounded-md"
                                >
                                    <i
                                        class="fa-regular fa-plus text-[#BFBFBF] text-2xl"
                                    ></i>
                                </div>
                            </div>
                            <div
                                class="accordion-body js-accordion-body hidden bg-white rounded-2xl -mt-6"
                            >
                                <div class="accordion-body__contents p-10">
                                    <p class="lg:pr-10">
                                        To ensure a smooth installation and
                                        get your branded vehicle back to you
                                        fast, we kindly ask that you pre -
                                        wash your vehicle before bringing it
                                        in. Here's what we recommend:<br /><br />
                                        <span class="block"
                                            >&#x2022;
                                            <span class="font-semibold"
                                                >Simple Soap & Water:</span
                                            >
                                            A thorough wash with mild soap
                                            and water is all you need.</span
                                        >
                                        <span class="block"
                                            >&#x2022;
                                            <span class="font-semibold"
                                                >Skip the Polish:</span
                                            >
                                            Avoid using waxes or polishes,
                                            as these can affect the adhesion
                                            of the vinyl.</span
                                        ><br />
                                        Heavily soiled vehicles may require
                                        additional cleaning prior to
                                        installation, which can impact your
                                        scheduled completion time. An
                                        additional cleaning fee of £50+VAT
                                        may apply in these cases.
                                    </p>
                                </div>
                            </div>
                        </div>

                        <div class="accordion__item js-accordion-item">
                            <div
                                class="accordion-header js-accordion-header flex justify-between items-center bg-white rounded-2xl p-10"
                            >
                                <h3 class="font-semibold text-[22px] pr-4">
                                    How long does a vehicle wrap last?
                                </h3>
                                <div
                                    class="flex justify-center items-center p-2 bg-[#F4F4F4] rounded-md"
                                >
                                    <i
                                        class="fa-regular fa-plus text-[#BFBFBF] text-2xl"
                                    ></i>
                                </div>
                            </div>
                            <div
                                class="accordion-body js-accordion-body hidden bg-white rounded-2xl -mt-6"
                            >
                                <div class="accordion-body__contents p-10">
                                    <p class="lg:pr-10">
                                        Professionally installed vehicle
                                        wraps can become powerful brand
                                        ambassadors for years to come. At
                                        Brand Works, we're passionate about
                                        creating wraps that endure the
                                        elements and turn heads. We use only
                                        the highest - quality materials and
                                        employ expert installation
                                        techniques to ensure your wrap looks
                                        amazing and delivers lasting value.
                                        In fact, we've seen some incredibly
                                        well - maintai ned wraps last up to
                                        8 years! Proper care and avoiding
                                        extreme weather conditions will
                                        significantly extend the lifespan of
                                        your wrap. But with our commitment
                                        to quality and craftsmanship, you
                                        can be confident your investment
                                        will deliver long - lasting results.
                                    </p>
                                </div>
                            </div>
                        </div>

                        <div class="accordion__item js-accordion-item">
                            <div
                                class="accordion-header js-accordion-header flex justify-between items-center bg-white rounded-2xl p-10"
                            >
                                <h3 class="font-semibold text-[22px] pr-4">
                                    I don't have any artwork, can you create
                                    it for me?
                                </h3>
                                <div
                                    class="flex justify-center items-center p-2 bg-[#F4F4F4] rounded-md"
                                >
                                    <i
                                        class="fa-regular fa-plus text-[#BFBFBF] text-2xl"
                                    ></i>
                                </div>
                            </div>
                            <div
                                class="accordion-body js-accordion-body hidden bg-white rounded-2xl -mt-6"
                            >
                                <div class="accordion-body__contents p-10">
                                    <p class="lg:pr-10">
                                        Of course we can. At Brand Works,
                                        our in - house designers have worked
                                        in the industry over 15 years, so
                                        our team are used to working closely
                                        with our customers to help bring
                                        their vision to life , just provide
                                        a design brief, any colours/text,
                                        images you would like and we will do
                                        the rest.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-two-container w-full lg:w-1/2">
                    <div
                        class="accordion js-accordion cursor-pointer flex flex-col gap-y-7"
                    >
                        <div class="accordion__item js-accordion-item">
                            <div
                                class="accordion-header js-accordion-header flex justify-between items-center bg-white rounded-2xl p-10"
                            >
                                <h3 class="font-semibold text-[22px] pr-4">
                                    Do I need to clean my vehicles before
                                    wrapping?
                                </h3>
                                <div
                                    class="flex justify-center items-center p-2 bg-[#F4F4F4] rounded-md"
                                >
                                    <i
                                        class="fa-regular fa-plus text-[#BFBFBF] text-2xl"
                                    ></i>
                                </div>
                            </div>
                            <div
                                class="accordion-body js-accordion-body hidden bg-white rounded-2xl -mt-6"
                            >
                                <div class="accordion-body__contents p-10">
                                    <p class="lg:pr-10">
                                        To ensure a smooth installation and
                                        get your branded vehicle back to you
                                        fast, we kindly ask that you pre -
                                        wash your vehicle before bringing it
                                        in. Here's what we recommend:<br /><br />
                                        <span class="block"
                                            >&#x2022;
                                            <span class="font-semibold"
                                                >Simple Soap & Water:</span
                                            >
                                            A thorough wash with mild soap
                                            and water is all you need.</span
                                        >
                                        <span class="block"
                                            >&#x2022;
                                            <span class="font-semibold"
                                                >Skip the Polish:</span
                                            >
                                            Avoid using waxes or polishes,
                                            as these can affect the adhesion
                                            of the vinyl.</span
                                        ><br />
                                        Heavily soiled vehicles may require
                                        additional cleaning prior to
                                        installation, which can impact your
                                        scheduled completion time. An
                                        additional cleaning fee of £50+VAT
                                        may apply in these cases.
                                    </p>
                                </div>
                            </div>
                        </div>

                        <div class="accordion__item js-accordion-item">
                            <div
                                class="accordion-header js-accordion-header flex justify-between items-center bg-white rounded-2xl p-10"
                            >
                                <h3 class="font-semibold text-[22px] pr-4">
                                    How long does a vehicle wrap last?
                                </h3>
                                <div
                                    class="flex justify-center items-center p-2 bg-[#F4F4F4] rounded-md"
                                >
                                    <i
                                        class="fa-regular fa-plus text-[#BFBFBF] text-2xl"
                                    ></i>
                                </div>
                            </div>
                            <div
                                class="accordion-body js-accordion-body hidden bg-white rounded-2xl -mt-6"
                            >
                                <div class="accordion-body__contents p-10">
                                    <p class="lg:pr-10">
                                        Professionally installed vehicle
                                        wraps can become powerful brand
                                        ambassadors for years to come. At
                                        Brand Works, we're passionate about
                                        creating wraps that endure the
                                        elements and turn heads. We use only
                                        the highest - quality materials and
                                        employ expert installation
                                        techniques to ensure your wrap looks
                                        amazing and delivers lasting value.
                                        In fact, we've seen some incredibly
                                        well - maintai ned wraps last up to
                                        8 years! Proper care and avoiding
                                        extreme weather conditions will
                                        significantly extend the lifespan of
                                        your wrap. But with our commitment
                                        to quality and craftsmanship, you
                                        can be confident your investment
                                        will deliver long - lasting results.
                                    </p>
                                </div>
                            </div>
                        </div>

                        <div class="accordion__item js-accordion-item">
                            <div
                                class="accordion-header js-accordion-header flex justify-between items-center bg-white rounded-2xl p-10"
                            >
                                <h3 class="font-semibold text-[22px] pr-4">
                                    I don't have any artwork, can you create
                                    it for me?
                                </h3>
                                <div
                                    class="flex justify-center items-center p-2 bg-[#F4F4F4] rounded-md"
                                >
                                    <i
                                        class="fa-regular fa-plus text-[#BFBFBF] text-2xl"
                                    ></i>
                                </div>
                            </div>
                            <div
                                class="accordion-body js-accordion-body hidden bg-white rounded-2xl -mt-6"
                            >
                                <div class="accordion-body__contents p-10">
                                    <p class="lg:pr-10">
                                        Of course we can. At Brand Works,
                                        our in - house designers have worked
                                        in the industry over 15 years, so
                                        our team are used to working closely
                                        with our customers to help bring
                                        their vision to life , just provide
                                        a design brief, any colours/text,
                                        images you would like and we will do
                                        the rest.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Infinite marquee -->
    <section class="bg-dark-green pt-14 lg:pt-20 pb-2 lg:pb-8">
        <div
            class="marquee relative w-full max-w-full h-[124px] lg:h-[160px] overflow-x-hidden"
        >
            <div
                class="track absolute whitespace-nowrap will-change-transform"
            >
                <div class="content font-bold text-white flex items-center">
                    <span class="text-[60px] lg:text-[80px]">DESIGN</span>
                    <i class="fa-solid fa-circle px-6 text-light-green"></i>
                    <span class="text-[60px] lg:text-[80px]">PRINT</span>
                    <i class="fa-solid fa-circle px-6 text-light-green"></i>
                    <span class="text-[60px] lg:text-[80px]">SIGNAGE</span>
                    <i class="fa-solid fa-circle px-6 text-light-green"></i>
                    <span class="text-[60px] lg:text-[80px]"
                        >VEHICLE BRANDING</span
                    >
                    <i class="fa-solid fa-circle px-6 text-light-green"></i>
                    <span class="text-[60px] lg:text-[80px]"
                        >WINDOW GRAPHICS</span
                    >
                    <i class="fa-solid fa-circle px-6 text-light-green"></i>
                    <span class="ttext-[60px] lg:text-[80px]"
                        >WALL MURALS</span
                    >
                    <i class="fa-solid fa-circle px-6 text-light-green"></i>
                    <span class="ttext-[60px] lg:text-[80px]">DESIGN</span>
                </div>
            </div>
        </div>
    </section>

    <!-- Autoplaying images slider -->
    <section class="flex h-[260px] lg:h-[300px] overflow-hidden">
        <div class="hidden lg:block w-1/3">
            <div class="js-autoplaying-slider-1">
                <div class="image h-[300px] overflow-hidden">
                    <img
                        src="{{ theme.uri }}/assets/images/assets/images/slider/farmer-copleys.jpg"
                        alt="Farmer copleys"
                        class="object-cover object-center w-full h-full min-h-[300px]"
                    />
                </div>
                <div class="image h-[300px] overflow-hidden">
                    <img
                        src="{{ theme.uri }}/assets/images/assets/images/slider/solarfast.jpg"
                        alt="Showbar"
                        class="object-cover object-center w-full h-full min-h-[300px]"
                    />
                </div>
                <div class="image h-[300px] overflow-hidden">
                    <img
                        src="{{ theme.uri }}/assets/images/assets/images/slider/jd-gyms.jpg"
                        alt="Showbar"
                        class="object-cover object-center w-full h-full min-h-[300px]"
                    />
                </div>
            </div>
        </div>
        <div class="hidden lg:block w-1/3">
            <div class="js-autoplaying-slider-2">
                <div class="image h-[300px] overflow-hidden">
                    <img
                        src="{{ theme.uri }}/assets/images/assets/images/slider/showbar.png"
                        alt="Showbar"
                        class="object-cover object-center w-full h-full min-h-[300px]"
                    />
                </div>
                <div class="image h-[300px] overflow-hidden">
                    <img
                        src="{{ theme.uri }}/assets/images/assets/images/slider/honey.jpg"
                        alt="Solarfast"
                        class="object-cover object-center w-full h-full min-h-[300px]"
                    />
                </div>
                <div class="image h-[300px] overflow-hidden">
                    <img
                        src="{{ theme.uri }}/assets/images/assets/images/slider/honey.jpg"
                        alt="Solarfast"
                        class="object-cover object-center w-full h-full min-h-[300px]"
                    />
                </div>
                <div class="image h-[300px] overflow-hidden">
                    <img
                        src="{{ theme.uri }}/assets/images/assets/images/slider/Ocho_Hair.jpg"
                        alt="Solarfast"
                        class="object-cover object-center w-full h-full min-h-[300px]"
                    />
                </div>
            </div>
        </div>
        <div class="hidden lg:block w-1/3">
            <div class="js-autoplaying-slider-3">
                <div class="image h-[300px] overflow-hidden">
                    <img
                        src="{{ theme.uri }}/assets/images/assets/images/slider/Van_Part-Wrap-3.jpg"
                        alt="Solarfast"
                        class="object-cover object-center w-full h-full min-h-[300px]"
                    />
                </div>
                <div class="image h-[300px] overflow-hidden">
                    <img
                        src="{{ theme.uri }}/assets/images/assets/images/slider/Excel-Generators-3.jpg"
                        class="object-cover object-center w-full h-full min-h-[300px]"
                    />
                </div>
                <div class="image h-[300px] overflow-hidden">
                    <img
                        src="{{ theme.uri }}/assets/images/assets/images/slider/Wall_Wrap_Brand_Works-3.jpg"
                        alt="Solarfast"
                        class="object-cover object-center w-full h-full min-h-[300px]"
                    />
                </div>
            </div>
        </div>
        <div class="block lg:hidden w-full">
            <div class="js-autoplaying-slider-mobile">
                <div class="image h-[260px] overflow-hidden">
                    <img
                        src="{{ theme.uri }}/assets/images/assets/images/slider/farmer-copleys.jpg"
                        alt="Farmer copleys"
                        class="object-cover object-center w-full h-full min-h-[260px]"
                    />
                </div>
                <div class="image h-[260px] overflow-hidden">
                    <img
                        src="{{ theme.uri }}/assets/images/assets/images/slider/showbar.png"
                        alt="Showbar"
                        class="object-cover object-center w-full h-full min-h-[260px]"
                    />
                </div>
                <div class="image h-[260px] overflow-hidden">
                    <img
                        src="{{ theme.uri }}/assets/images/assets/images/slider/solarfast.jpg"
                        alt="Solarfast"
                        class="object-cover object-center w-full h-full min-h-[260px]"
                    />
                </div>
                <div class="image h-[260px] overflow-hidden">
                    <img
                        src="{{ theme.uri }}/assets/images/assets/images/slider/Wall_Wrap_Brand_Works-3.jpg"
                        alt="Solarfast"
                        class="object-cover object-center w-full h-full min-h-[260px]"
                    />
                </div>
                <div class="image h-[260px] overflow-hidden">
                    <img
                        src="{{ theme.uri }}/assets/images/assets/images/slider/honey.jpg"
                        alt="Solarfast"
                        class="object-cover object-center w-full h-full min-h-[260px]"
                    />
                </div>
            </div>
        </div>
    </section>
{% endblock %}