{% extends 'layouts/base.twig' %}

{% block content %}
    <section class="bg-dark-green">
    
        <!-- Hero text -->
        <div class="container">
            <div class="pt-10 lg:pt-[100px] pb-10 lg:pb-[84px] relative">
                <div
                    class="absolute top-20 left-1/2 -translate-x-1/2 w-full flex justify-center"
                >
                    <img
                        src="{{ theme.uri }}/assets/images/assets/images/Hero Section_Gradient.svg"
                        alt="Hero gradient"
                        class="w-[800px] h-auto"
                    />
                </div>

                <div class="w-full flex flex-col items-center relative">
                    <h2
                        class="text-light-green uppercase text-sm text-center tracking-[0.3em]"
                    >
                        SIGNAGE - VEHICLE BRANDING - PRINT
                    </h2>

                    <h1
                        class="font-bold uppercase text-[32px] leading-[35px] lg:leading-[65px] lg:text-[70px] text-center pt-10 lg:pt-14"
                    >
                        <span class="text-white"
                            >SIGNAGE & BRANDING<br /></span
                        ><span class="text-light-green">SPECIALISTS</span>
                    </h1>

                    <p
                        class="text-white font-medium text-[22px] leading-[30px] text-center pt-10 lg:pt-[60px] lg:w-2/3"
                    >
                        If you need to make a strong brand statement with
                        standout visuals and graphics that leave a lasting
                        impression, you've come to the right place.
                    </p>
                </div>
            </div>
        </div>

        <!-- Image hover grid services -->
        <section class="bg-dark-green">
            <div class="container">
                <div
                    class="grid grid-cols-4 md:grid-cols-8 lg:grid-cols-12 gap-x-4 gap-y-8"
                >
                    <a
                        href="./print-and-display.html"
                        class="col-span-4 rounded-[20px] flex items-center justify-center relative w-full h-full min-h-[290px] overflow-hidden"
                        style="
                            background-image: url({{ theme.uri }}/assets/images/assets/images/home-grid-overlay/fibre.png);
                            background-position: center;
                            background-size: cover;
                        "
                        onmouseover="this.style.backgroundImage = 'url({{ theme.uri }}/assets/images/assets/images/Farmer_Copleys_11.jpg)'"
                        onmouseleave="this.style.backgroundImage = 'url({{ theme.uri }}/assets/images/assets/images/home-grid-overlay/fibre.png)'"
                    >
                        <div
                            class="bg-[#000]/40 absolute w-full h-full top-0 left-0 z-[1]"
                        ></div>
                        <h3
                            class="font-bold leading-[40px] text-[32px] xl:text-[44px] text-center uppercase relative z-[2]"
                        >
                            <span class="text-white">Print &amp;<br /></span>
                            <span class="text-light-green">Display</span>
                        </h3>
                    </a>

                    <a
                        href="./vehicle-branding.html"
                        class="col-span-4 rounded-[20px] flex items-center justify-center relative w-full h-full min-h-[290px] overflow-hidden"
                        style="
                            background-image: url({{ theme.uri }}/assets/images/assets/images/home-grid-overlay/sola-fast-van.png);
                            background-position: center;
                            background-size: cover;
                        "
                        onmouseover="this.style.backgroundImage = 'url({{ theme.uri }}/assets/images/assets/images/Exsel_2.jpg)'"
                        onmouseleave="this.style.backgroundImage = 'url({{ theme.uri }}/assets/images/assets/images/home-grid-overlay/sola-fast-van.png)'"
                        ><div
                            class="bg-[#000]/40 absolute w-full h-full top-0 left-0 z-[1]"
                        ></div>
                        <h3
                            class="font-bold leading-[40px] text-[32px] xl:text-[44px] text-center uppercase relative z-[2]"
                        >
                            <span class="text-white">Vehicle<br /></span>
                            <span class="text-light-green">Branding</span>
                        </h3>
                    </a>

                    <a
                        href="./signage-and-branding.html"
                        class="col-span-4 rounded-[20px] flex items-center justify-center relative w-full h-full min-h-[290px] overflow-hidden"
                        style="
                            background-image: url({{ theme.uri }}/assets/images/assets/images/home-grid-overlay/gal-hero.png);
                            background-position: center;
                            background-size: cover;
                        "
                        onmouseover="this.style.backgroundImage = 'url({{ theme.uri }}/assets/images/assets/images/home-grid-overlay/Chef_Jono_3.jpg)'"
                        onmouseleave="this.style.backgroundImage = 'url({{ theme.uri }}/assets/images/assets/images/home-grid-overlay/gal-hero.png)'"
                    >
                        <div
                            class="bg-[#000]/40 absolute w-full h-full top-0 left-0 z-[1]"
                        ></div>
                        <h3
                            class="font-bold leading-[40px] text-[32px] xl:text-[44px] text-center uppercase relative z-[2]"
                        >
                            <span class="text-white">Signage &<br /></span>
                            <span class="text-light-green">Branding</span>
                        </h3>
                    </a>

                    <a
                        href="./architectural-wrap.html"
                        class="col-span-4 rounded-[20px] flex items-center justify-center relative w-full h-full min-h-[290px] overflow-hidden"
                        style="
                            background-image: url({{ theme.uri }}/assets/images/assets/images/home-grid-overlay/arch-hero.png);
                            background-position: center;
                            background-size: cover;
                        "
                        onmouseover="this.style.backgroundImage = 'url({{ theme.uri }}/assets/images/assets/images/home-grid-overlay/restaurant_bar_wrap.jpg)'"
                        onmouseleave="this.style.backgroundImage = 'url({{ theme.uri }}/assets/images/assets/images/home-grid-overlay/arch-hero.png)'"
                        ><div
                            class="bg-[#000]/40 absolute w-full h-full top-0 left-0 z-[1]"
                        ></div>
                        <h3
                            class="font-bold leading-[40px] text-[32px] xl:text-[44px] text-center uppercase xl:-tracking-[3.5px] relative z-[2]"
                        >
                            <span class="text-white">Architectural<br /></span>
                            <span class="text-light-green">Wrapping</span>
                        </h3>
                    </a>

                    <a
                        href="./events-and-exhibitions.html"
                        class="col-span-4 rounded-[20px] flex items-center justify-center relative w-full h-full min-h-[290px] overflow-hidden"
                        style="
                            background-image: url({{ theme.uri }}/assets/images/assets/images/home-grid-overlay/exhibit-hero.png);
                            background-position: center;
                            background-size: cover;
                        "
                        onmouseover="this.style.backgroundImage = 'url({{ theme.uri }}/assets/images/assets/images/home-grid-overlay/liverpool_event.jpg)'"
                        onmouseleave="this.style.backgroundImage = 'url({{ theme.uri }}/assets/images/assets/images/home-grid-overlay/exhibit-hero.png)'"
                        ><div
                            class="bg-[#000]/40 absolute w-full h-full top-0 left-0 z-[1]"
                        ></div>
                        <h3
                            class="font-bold leading-[40px] text-[32px] xl:text-[44px] text-center uppercase relative z-[2]"
                        >
                            <span class="text-white">Events &<br /></span>
                            <span class="text-light-green">Exhibitions</span>
                        </h3>
                    </a>

                    <a
                        href="./sectors.html"
                        class="col-span-4 rounded-[20px] flex items-center justify-center relative w-full h-full min-h-[290px] overflow-hidden"
                        style="
                            background-image: url({{ theme.uri }}/assets/images/assets/images/sheffield-hallam.png);
                            background-position: center;
                            background-size: cover;
                        "
                        onmouseover="this.style.backgroundImage = 'url({{ theme.uri }}/assets/images/assets/images/home-grid-overlay/HM-SIGNAGE.jpg)'"
                        onmouseleave="this.style.backgroundImage = 'url({{ theme.uri }}/assets/images/assets/images/sheffield-hallam.png)'"
                        ><div
                            class="bg-[#000]/40 absolute w-full h-full top-0 left-0 z-[1]"
                        ></div>
                        <h3
                            class="font-bold leading-[40px] text-[32px] xl:text-[44px] text-center uppercase relative z-[2]"
                        >
                            <span class="text-white">Sectors<br /></span>
                            <span class="text-light-green">We Serve</span>
                        </h3>
                    </a>
                </div>
            </div>
        </section>

        <!-- Nationwide reach -->
        <section class="bg-dark-green pt-20 lg:pt-[108px]">
            <div class="container">
                <div
                    class="bg-light-green flex flex-wrap lg:flex-nowrap lg:gap-11 rounded-[20px] p-10 lg:p-20"
                >
                    <div class="w-full lg:w-1/3">
                        <h2
                            class="font-bold leading-[40px] text-[32px] lg:text-[44px]"
                        >
                            <span class="text-dark-green"
                                >FRIENDLY YORKSHIRE TEAM<br
                            /></span>
                            <span class="text-white"
                                >WITH A NATIONWIDE REACH.</span
                            >
                        </h2>

                        <p class="text-dark-green pt-9 lg:pr-4">
                            Our Yorkshire team have years of experience
                            designing, printing and applying graphics up and
                            down the UK. From striking vehicle fleet wraps, to
                            bespoke business signage, floor vinyls that make an
                            impact or visual marketing to boost sales, we’ve got
                            the experience, technology and expertise to elevate
                            your brand.
                        </p>

                        <div class="pt-10">
                            <a
                                href="./contact-us.html"
                                target="_self"
                                class="solid-button-dark max-w-max"
                            >
                                Enquire
                            </a>
                        </div>
                    </div>

                    <div
                        class="w-full lg:w-2/3 grid grid-cols-1 md:grid-cols-2 gap-8 lg:gap-[50px] pt-10 lg:pt-0"
                    >
                        <div class="flex flex-col col-span-1 pt-10 md:pt-0">
                            <h3
                                class="font-bold uppercase text-[32px] leading-[35px]"
                            >
                                <span class="text-white">Business<br /></span>
                                <span class="text-dark-green">Signage</span>
                            </h3>

                            <p class="text-dark-green pt-3">
                                Whether you need storefront signs, directional
                                signs, or illuminated signs, we have the
                                expertise to create durable and visually
                                striking signage that will make your business
                                stand out.
                            </p>
                        </div>

                        <div class="flex flex-col col-span-1">
                            <h3
                                class="font-bold uppercase text-[32px] leading-[35px]"
                            >
                                <span class="text-white">Window<br /></span>
                                <span class="text-dark-green">Displays</span>
                            </h3>

                            <p class="text-dark-green pt-3">
                                Our impactful, unique window vinyls will give
                                your brand, logo, and colours a strong stand-out
                                to make a lasting impression, connecting with
                                customers in a memorable way.
                            </p>
                        </div>

                        <div class="flex flex-col col-span-1">
                            <h3
                                class="font-bold uppercase text-[32px] leading-[35px]"
                            >
                                <span class="text-white">Vehicle<br /></span>
                                <span class="text-dark-green">Branding</span>
                            </h3>

                            <p class="text-dark-green pt-3">
                                We cater to every need, from eye-catching cut
                                vinyl lettering to full vehicle wraps that
                                transform your fleet into rolling billboards.
                                Partial wraps and high-visibility chevron kits
                                are also in our wheelhouse.
                            </p>
                        </div>

                        <div class="flex flex-col col-span-1">
                            <h3
                                class="font-bold uppercase text-[32px] leading-[35px]"
                            >
                                <span class="text-white">Hoarding<br /></span>
                                <span class="text-dark-green">Graphics</span>
                            </h3>

                            <p class="text-dark-green pt-3">
                                Don't let your construction site be an eyesore!
                                Brand Works transforms plain hoarding panels
                                into impactful branded statements with our
                                high-quality printed hoarding graphics.
                            </p>
                        </div>

                        <div class="flex flex-col col-span-1">
                            <h3
                                class="font-bold uppercase text-[32px] leading-[35px]"
                            >
                                <span class="text-white">Office<br /></span>
                                <span class="text-dark-green">Branding</span>
                            </h3>

                            <p class="text-dark-green pt-3">
                                We offer comprehensive office branding
                                solutions, from years of experience transforming
                                entire offices to the meticulous detail of
                                architectural desk wraps through to interior
                                signage and wall murals.
                            </p>
                        </div>

                        <div class="flex flex-col col-span-1">
                            <h3
                                class="font-bold uppercase text-[32px] leading-[35px]"
                            >
                                <span class="text-white">Wayfinding<br /></span>
                                <span class="text-dark-green">Signs</span>
                            </h3>

                            <p class="text-dark-green pt-3">
                                Streamline the customer journey and ensure a
                                positive experience with clear and informative
                                wayfinding signs by Brand Works.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- Accreditations slider -->
        <section class="bg-dark-green pt-10 lg:pt-20 pb-10 lg:pb-20">
            <div class="container">
                <div class="w-full lg:w-3/4 mx-auto">
                    <div class="js-accreditations-slider">
                        <div class="flex justify-center items-center">
                            <div
                                class="flex justify-center items-center h-20 px-4"
                            >
                                <img
                                    src="{{ theme.uri }}/assets/images/assets/accreditations/cscs.svg"
                                    alt="CSCS"
                                />
                            </div>
                        </div>
                        <div class="flex justify-center items-center">
                            <div
                                class="flex justify-center items-center h-20 px-4"
                            >
                                <img
                                    src="{{ theme.uri }}/assets/images/assets/accreditations/ipaf.svg"
                                    alt="IPAF"
                                />
                            </div>
                        </div>
                        <div class="flex justify-center items-center">
                            <div
                                class="flex justify-center items-center h-20 px-4"
                            >
                                <img
                                    src="{{ theme.uri }}/assets/images/assets/accreditations/ukata.svg"
                                    alt="UKATA"
                                />
                            </div>
                        </div>
                        <div class="flex justify-center items-center">
                            <div
                                class="flex justify-center items-center h-20 px-4"
                            >
                                <img
                                    src="{{ theme.uri }}/assets/images/assets/accreditations/pasma.svg"
                                    alt="PASMA"
                                />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- Two column image and text -->
        <section class="py-10 lg:py-20 overflow-x-hidden bg-white">
            <div class="container">
                <div class="flex flex-wrap lg:flex-nowrap gap-10 lg:gap-[60px]">
                    <div class="w-full lg:w-1/2">
                        <img
                            src="{{ theme.uri }}/assets/images/assets/images/shopfitting.png"
                            alt="Shopfitting"
                        />
                    </div>
                    <div class="w-full lg:w-1/2">
                        <h2
                            class="font-bold uppercase text-[32px] leading-[35px] lg:leading-[65px] lg:text-[70px]"
                            data-aos="fade-left"
                        >
                            <span class="text-dark-green"
                                >TRAINED AND QUAlIFIED INSTALLERS</span
                            >
                        </h2>

                        <h3
                            class="font-semibold text-[32px] leading-[35px] pt-8 lg:pt-10 text-dark-green"
                            data-aos="fade-left"
                        >
                            We pride ourselves on the highest health & safety
                            standards to ensure a risk free installation.
                        </h3>

                        <div class="hidden lg:block pt-10">
                            <a
                                href="./contact-us.html"
                                target="_self"
                                class="solid-button-tall max-w-max"
                            >
                                Book a consultation
                            </a>
                        </div>
                    </div>
                </div>

                <div
                    class="flex flex-wrap lg:flex-nowrap gap-10 lg:gap-[60px] mt-10 lg:mt-20"
                >
                    <div class="w-full lg:w-1/2 order-2 lg:order-1">
                        <h2
                            class="font-bold uppercase text-[32px] leading-[35px] lg:leading-[65px] lg:text-[70px]"
                            data-aos="fade-right"
                        >
                            <span class="text-dark-green">In-house</span>
                            <span class="text-light-green">Designers</span>
                        </h2>

                        <h3
                            class="font-semibold text-[32px] leading-[35px] pt-8 lg:pt-10 text-dark-green"
                            data-aos="fade-right"
                        >
                            Need to chat to one of our designers about bringing
                            your vision to life? Click below to book a FREE
                            consultation.
                        </h3>

                        <div class="pt-10">
                            <a
                                href="./contact-us.html"
                                target="_self"
                                class="solid-button-tall max-w-max"
                            >
                                Book a consultation
                            </a>
                        </div>
                    </div>

                    <div class="w-full lg:w-1/2 order-1 lg:order-2">
                        <div class="rounded-xl overflow-hidden h-full">
                            <iframe
                                class="w-full h-full rounded-xl aspect-video"
                                src="https://www.youtube.com/embed/Hs7JW3SSqSI?si=OHlizX-bEnwOC4vM&amp;controls=0"
                                title="YouTube video player"
                                frameborder="0"
                                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                                referrerpolicy="strict-origin-when-cross-origin"
                                allowfullscreen
                            ></iframe>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- Testimonials section -->
        <section class="bg-dark-green py-10 lg:py-[108px]">
            <div class="container">
                <div
                    class="flex flex-wrap lg:flex-nowrap lg:gap-11 rounded-[20px]"
                >
                    <div class="w-full lg:w-1/3 lg:pr-10">
                        <h2
                            class="uppercase text-[32px] leading-[35px] lg:text-[45px] lg:leading-[46px] font-bold"
                        >
                            <span class="text-white"
                                >DON'T JUST TAKE OUR WORD FOR IT. <br
                            /></span>
                            <span class="text-light-green"
                                >WE'LL LET OUR CUSTOMERS DO THE TALKING FOR
                                US.</span
                            >
                        </h2>

                        <div class="pt-10">
                            <a
                                href="./contact-us.html"
                                target="_self"
                                class="solid-button-tall max-w-max"
                            >
                                LEAVE US A REVIEW
                            </a>
                        </div>
                    </div>

                    <div
                        class="w-full lg:w-2/3 grid grid-cols-1 lg:grid-cols-2 gap-x-4 gap-y-10 lg:gap-y-6 mt-10 lg:mt-0"
                    >
                        <div
                            class="flex flex-col col-span-1 text-white border-2 border-light-green p-4 rounded-3xl"
                            data-aos="fade-up"
                        >
                            <div class="flex justify-between items-center">
                                <div class="flex flex-col">
                                    <span class="block text-lg">
                                        David Draper
                                    </span>
                                    <span class="block"> Solar Fast </span>
                                </div>

                                <img
                                    src="{{ theme.uri }}/assets/images/assets/logo/Solar-Fast-Logo-White.png"
                                    alt="Solar Fast logo"
                                    class="max-w-14"
                                />
                            </div>

                            <p class="pt-3">
                                We recently needed to update the branding on our
                                entire fleet - 15 vans in total! It felt like a
                                daunting task, but Brand Works made the entire
                                process a breeze. From the initial quote to the
                                final installation, their team was absolutely
                                fantastic.
                            </p>
                        </div>

                        <div
                            class="flex flex-col col-span-1 text-white border-2 border-light-green p-4 rounded-3xl"
                            data-aos="fade-left"
                        >
                            <div class="flex justify-between items-center">
                                <div class="flex flex-col">
                                    <span class="block text-lg">
                                        Geoff Hardy
                                    </span>
                                    <span class="block"> Wolfe Inn </span>
                                </div>

                                <img
                                    src="{{ theme.uri }}/assets/images/assets/logo/Wolfe_Inn.png"
                                    alt="Wolfe Inn logo"
                                    class="max-w-14"
                                />
                            </div>

                            <p class="pt-3">
                                From start to finish, the team was professional,
                                knowledgeable, and responsive to our needs. They
                                took the time to understand our vision and
                                provided us with creative design options that
                                exceed our expectations.
                            </p>
                        </div>

                        <div
                            class="flex flex-col col-span-1 text-white border-2 border-light-green p-4 rounded-3xl"
                            data-aos="fade-right"
                        >
                            <div class="flex justify-between items-center">
                                <div class="flex flex-col">
                                    <span class="block text-lg">
                                        Alison healy
                                    </span>
                                    <span class="block"> Clarks </span>
                                </div>

                                <img
                                    src="{{ theme.uri }}/assets/images/assets/logo/CLARKS.svg"
                                    alt="Clarks logo"
                                    class="max-w-14"
                                />
                            </div>

                            <p class="pt-3">
                                We had a very pleasant experience from the
                                outset with Brand Works. They did everything we
                                asked of them and more.
                            </p>
                        </div>

                        <div
                            class="flex flex-col col-span-1 text-white border-2 border-light-green p-4 rounded-3xl"
                            data-aos="fade-down"
                        >
                            <div class="flex justify-between items-center">
                                <div class="flex flex-col">
                                    <span class="block text-lg">
                                        Danny Bullough
                                    </span>
                                    <span class="block"> Galileos </span>
                                </div>

                                <img
                                    src="{{ theme.uri }}/assets/images/assets/logo/Galileos_Vector-01.svg"
                                    alt="Galileos logo"
                                    class="max-w-14"
                                />
                            </div>

                            <p class="pt-3">
                                There is amazing and then there is you - thank
                                you so so so so much for bringing our brand and
                                vision to life - you are extremely talented.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- Trusted by logos slider -->
        <section class="bg-dark-green pt-10 lg:pt-0">
            <div class="container">
                <div class="border-2 border-light-green rounded-3xl">
                    <span
                        class="block font-bold uppercase text-[32px] leading-[35px] text-center text-white pt-12"
                        >Trusted by</span
                    >

                    <div
                        class="js-trusted-by-slider py-10 w-full flex justify-center"
                    >
                        <div class="flex justify-center items-center">
                            <img
                                src="{{ theme.uri }}/assets/images/assets/logo/asda.png"
                                alt="Asda"
                                class="max-w-[216px] max-h-[126px] mx-auto"
                            />
                        </div>
                        <div class="flex justify-center items-center">
                            <img
                                src="{{ theme.uri }}/assets/images/assets/logo/clarks.png"
                                alt="Clarks"
                                class="max-w-[216px] max-h-[126px] mx-auto"
                            />
                        </div>
                        <div class="flex justify-center items-center">
                            <img
                                src="{{ theme.uri }}/assets/images/assets/logo/sports-direct.png"
                                alt="Sports Direct"
                                class="max-w-[216px] max-h-[126px] mx-auto"
                            />
                        </div>
                        <div class="flex justify-center items-center">
                            <img
                                src="{{ theme.uri }}/assets/images/assets/logo/ag.png"
                                alt="AG"
                                class="max-w-[216px] max-h-[126px] mx-auto"
                            />
                        </div>
                        <div class="flex justify-center items-center">
                            <img
                                src="{{ theme.uri }}/assets/images/assets/logo/boots.png"
                                alt="Boots"
                                class="max-w-[216px] max-h-[126px] mx-auto"
                            />
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- Infinite marquee -->
        <section class="bg-dark-green pt-14 lg:pt-20 pb-2 lg:pb-8">
            <div
                class="marquee relative w-full max-w-full h-[124px] lg:h-[160px] overflow-x-hidden"
            >
                <div
                    class="track absolute whitespace-nowrap will-change-transform"
                >
                    <div class="content font-bold text-white flex items-center">
                        <span class="text-[60px] lg:text-[80px]">DESIGN</span>
                        <i class="fa-solid fa-circle px-6 text-light-green"></i>
                        <span class="text-[60px] lg:text-[80px]">PRINT</span>
                        <i class="fa-solid fa-circle px-6 text-light-green"></i>
                        <span class="text-[60px] lg:text-[80px]">SIGNAGE</span>
                        <i class="fa-solid fa-circle px-6 text-light-green"></i>
                        <span class="text-[60px] lg:text-[80px]"
                            >VEHICLE BRANDING</span
                        >
                        <i class="fa-solid fa-circle px-6 text-light-green"></i>
                        <span class="text-[60px] lg:text-[80px]"
                            >WINDOW GRAPHICS</span
                        >
                        <i class="fa-solid fa-circle px-6 text-light-green"></i>
                        <span class="ttext-[60px] lg:text-[80px]"
                            >WALL MURALS</span
                        >
                        <i class="fa-solid fa-circle px-6 text-light-green"></i>
                        <span class="ttext-[60px] lg:text-[80px]">DESIGN</span>
                    </div>
                </div>
            </div>
        </section>

        <!-- Autoplaying images slider -->
        <section class="flex h-[260px] lg:h-[300px] overflow-hidden">
            <div class="hidden lg:block w-1/3">
                <div class="js-autoplaying-slider-1">
                    <div class="image h-[300px] overflow-hidden">
                        <img
                            src="{{ theme.uri }}/assets/images/assets/images/slider/farmer-copleys.jpg"
                            alt="Farmer copleys"
                            class="object-cover object-center w-full h-full min-h-[300px]"
                        />
                    </div>
                    <div class="image h-[300px] overflow-hidden">
                        <img
                            src="{{ theme.uri }}/assets/images/assets/images/slider/solarfast.jpg"
                            alt="Showbar"
                            class="object-cover object-center w-full h-full min-h-[300px]"
                        />
                    </div>
                    <div class="image h-[300px] overflow-hidden">
                        <img
                            src="{{ theme.uri }}/assets/images/assets/images/slider/jd-gyms.jpg"
                            alt="Showbar"
                            class="object-cover object-center w-full h-full min-h-[300px]"
                        />
                    </div>
                </div>
            </div>
            <div class="hidden lg:block w-1/3">
                <div class="js-autoplaying-slider-2">
                    <div class="image h-[300px] overflow-hidden">
                        <img
                            src="{{ theme.uri }}/assets/images/assets/images/slider/showbar.png"
                            alt="Showbar"
                            class="object-cover object-center w-full h-full min-h-[300px]"
                        />
                    </div>
                    <div class="image h-[300px] overflow-hidden">
                        <img
                            src="{{ theme.uri }}/assets/images/assets/images/slider/honey.jpg"
                            alt="Solarfast"
                            class="object-cover object-center w-full h-full min-h-[300px]"
                        />
                    </div>
                    <div class="image h-[300px] overflow-hidden">
                        <img
                            src="{{ theme.uri }}/assets/images/assets/images/slider/honey.jpg"
                            alt="Solarfast"
                            class="object-cover object-center w-full h-full min-h-[300px]"
                        />
                    </div>
                    <div class="image h-[300px] overflow-hidden">
                        <img
                            src="{{ theme.uri }}/assets/images/assets/images/slider/Ocho_Hair.jpg"
                            alt="Solarfast"
                            class="object-cover object-center w-full h-full min-h-[300px]"
                        />
                    </div>
                </div>
            </div>
            <div class="hidden lg:block w-1/3">
                <div class="js-autoplaying-slider-3">
                    <div class="image h-[300px] overflow-hidden">
                        <img
                            src="{{ theme.uri }}/assets/images/assets/images/slider/Van_Part-Wrap-3.jpg"
                            alt="Solarfast"
                            class="object-cover object-center w-full h-full min-h-[300px]"
                        />
                    </div>
                    <div class="image h-[300px] overflow-hidden">
                        <img
                            src="{{ theme.uri }}/assets/images/assets/images/slider/Excel-Generators-3.jpg"
                            class="object-cover object-center w-full h-full min-h-[300px]"
                        />
                    </div>
                    <div class="image h-[300px] overflow-hidden">
                        <img
                            src="{{ theme.uri }}/assets/images/assets/images/slider/Wall_Wrap_Brand_Works-3.jpg"
                            alt="Solarfast"
                            class="object-cover object-center w-full h-full min-h-[300px]"
                        />
                    </div>
                </div>
            </div>
            <div class="block lg:hidden w-full">
                <div class="js-autoplaying-slider-mobile">
                    <div class="image h-[260px] overflow-hidden">
                        <img
                            src="{{ theme.uri }}/assets/images/assets/images/slider/farmer-copleys.jpg"
                            alt="Farmer copleys"
                            class="object-cover object-center w-full h-full min-h-[260px]"
                        />
                    </div>
                    <div class="image h-[260px] overflow-hidden">
                        <img
                            src="{{ theme.uri }}/assets/images/assets/images/slider/showbar.png"
                            alt="Showbar"
                            class="object-cover object-center w-full h-full min-h-[260px]"
                        />
                    </div>
                    <div class="image h-[260px] overflow-hidden">
                        <img
                            src="{{ theme.uri }}/assets/images/assets/images/slider/solarfast.jpg"
                            alt="Solarfast"
                            class="object-cover object-center w-full h-full min-h-[260px]"
                        />
                    </div>
                    <div class="image h-[260px] overflow-hidden">
                        <img
                            src="{{ theme.uri }}/assets/images/assets/images/slider/Wall_Wrap_Brand_Works-3.jpg"
                            alt="Solarfast"
                            class="object-cover object-center w-full h-full min-h-[260px]"
                        />
                    </div>
                    <div class="image h-[260px] overflow-hidden">
                        <img
                            src="{{ theme.uri }}/assets/images/assets/images/slider/honey.jpg"
                            alt="Solarfast"
                            class="object-cover object-center w-full h-full min-h-[260px]"
                        />
                    </div>
                </div>
            </div>
        </section>

        <!-- Contact form -->
        <section class="bg-white border-b border-dark-green relative overflow-x-hidden">
            <div class="container">
                <div class="flex flex-wrap">
                    <div class="w-full lg:w-1/2">
                        <h2
                                class="font-bold uppercase text-[32px] leading-[35px] lg:leading-[65px] lg:text-[70px] text-dark-green pt-10"
                                data-aos="fade-left"
                            >
                            READY TO MAKE YOUR BUSINESS <span class="text-light-green">STAND OUT</span> FROM THE CROWD?
                            </h2>

                            <p class="text-dark-green font-medium text-[22px] leading-[30px] pt-10 lg:pr-10">We love discussing potential new ideas, get in touch with our friendly team today.</p>
                    </div>

                    <div class="w-full lg:w-1/2 pt-10 lg:pt-0">
                        {{ fn('do_shortcode', '[contact-form-7 id="7e9988f" title="Get In Touch"]') }}
                        <div class="hidden lg:block bg-light-green absolute top-0 -right-40 w-[400px] h-full">dehfgrbi</div> 
                    </div>
                </div> 
            </div>  
        </section>
    </section>
{% endblock %}