{% extends 'layouts/base.twig' %}

{% block content %}
    <!-- Image gallery grid -->
    <section
        class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 bg-dark-green"
        id="image-gallery"
    >
        <div class="col-span-1 overflow-hidden h-[260px] md:h-[416px]">
            <img
                src="{{ theme.uri }}/assets/images/assets/images/our-work/Galileo's_3.jpg"
                alt="Galileos"
                class="object-cover object-center w-full h-full hover:scale-110 duration-300 ease-in-out"
            />
        </div>

        <div class="col-span-1 overflow-hidden h-[260px] md:h-[416px]">
            <img
                src="{{ theme.uri }}/assets/images/assets/images/our-work/Solar_Fast_Luton.jpeg"
                alt="Solar Fast"
                class="object-cover object-center w-full h-full hover:scale-110 duration-300 ease-in-out"
            />
        </div>

        <div class="col-span-1 overflow-hidden h-[260px] md:h-[416px]">
            <img
                src="{{ theme.uri }}/assets/images/assets/images/our-work/Farmer_Copleys_Painted.jpg"
                alt="Farmer Copleys"
                class="object-cover object-center w-full h-full hover:scale-110 duration-300 ease-in-out"
            />
        </div>

        <div class="col-span-1 overflow-hidden h-[260px] md:h-[416px]">
            <img
                src="{{ theme.uri }}/assets/images/assets/images/our-work/Exsel_2.jpg"
                alt="Exsel"
                class="object-cover object-center w-full h-full hover:scale-110 duration-300 ease-in-out"
            />
        </div>

        <div class="col-span-1 overflow-hidden h-[260px] md:h-[416px]">
            <img
                src="{{ theme.uri }}/assets/images/assets/images/our-work/Fibre.png"
                alt="Fibre"
                class="object-cover object-center w-full h-full hover:scale-110 duration-300 ease-in-out"
            />
        </div>

        <div class="col-span-1 overflow-hidden h-[260px] md:h-[416px]">
            <img
                src="{{ theme.uri }}/assets/images/assets/images/our-work/Wall_Design.png"
                alt="Wall wrap"
                class="object-cover object-center w-full h-full hover:scale-110 duration-300 ease-in-out"
            />
        </div>

        <div class="col-span-1 overflow-hidden h-[260px] md:h-[416px]">
            <img
                src="{{ theme.uri }}/assets/images/assets/images/our-work/Floor_Graphics_1.jpg"
                alt="Floor graphics"
                class="object-cover object-center w-full h-full hover:scale-110 duration-300 ease-in-out"
            />
        </div>

        <div class="col-span-1 overflow-hidden h-[260px] md:h-[416px]">
            <img
                src="{{ theme.uri }}/assets/images/assets/images/our-work/IMG-20230512-WA0045.jpg"
                alt="JD gym"
                class="object-cover object-center w-full h-full hover:scale-110 duration-300 ease-in-out"
            />
        </div>

        <div class="col-span-1 overflow-hidden h-[260px] md:h-[416px]">
            <img
                src="{{ theme.uri }}/assets/images/assets/images/our-work/Solar Fast_Peug.jpg"
                alt="Solar fast"
                class="object-cover object-center w-full h-full hover:scale-110 duration-300 ease-in-out"
            />
        </div>

        <div class="col-span-1 overflow-hidden h-[260px] md:h-[416px]">
            <img
                src="{{ theme.uri }}/assets/images/assets/images/our-work/Brick Wrap_1.jpg"
                alt="Brick wrap"
                class="object-cover object-center w-full h-full hover:scale-110 duration-300 ease-in-out"
            />
        </div>

        <div class="col-span-1 overflow-hidden h-[260px] md:h-[416px]">
            <img
                src="{{ theme.uri }}/assets/images/assets/images/our-work/office-int.jpeg"
                alt="Office interior"
                class="object-cover object-center w-full h-full hover:scale-110 duration-300 ease-in-out"
            />
        </div>

        <div class="col-span-1 overflow-hidden h-[260px] md:h-[416px]">
            <img
                src="{{ theme.uri }}/assets/images/assets/images/our-work/LAB_1ED.jpg"
                alt="Laser and beauty"
                class="object-cover object-center w-full h-full hover:scale-110 duration-300 ease-in-out"
            />
        </div>

        <div class="col-span-1 overflow-hidden h-[260px] md:h-[416px]">
            <img
                src="{{ theme.uri }}/assets/images/assets/images/our-work/Jungle_Wall_F.jpg"
                alt="Jungle"
                class="object-cover object-center w-full h-full hover:scale-110 duration-300 ease-in-out"
            />
        </div>

        <div class="col-span-1 overflow-hidden h-[260px] md:h-[416px]">
            <img
                src="{{ theme.uri }}/assets/images/assets/images/our-work/Travis_Perkins_Sign.jpg"
                alt="Travis Perkins"
                class="object-cover object-center w-full h-full hover:scale-110 duration-300 ease-in-out"
            />
        </div>

        <div class="col-span-1 overflow-hidden h-[260px] md:h-[416px]">
            <img
                src="{{ theme.uri }}/assets/images/assets/images/our-work/wall_wrap.jpg"
                alt="Wall wrap"
                class="object-cover object-center w-full h-full hover:scale-110 duration-300 ease-in-out"
            />
        </div>

        <div class="col-span-1 overflow-hidden h-[260px] md:h-[416px]">
            <img
                src="{{ theme.uri }}/assets/images/assets/images/our-work/Galileos_Instagram-03.png"
                alt="Wall cover"
                class="object-cover object-center w-full h-full hover:scale-110 duration-300 ease-in-out"
            />
        </div>

        <div class="col-span-1 overflow-hidden h-[260px] md:h-[416px]">
            <img
                src="{{ theme.uri }}/assets/images/assets/images/our-work/1-1.jpg"
                alt="Wall cover"
                class="object-cover object-center w-full h-full hover:scale-110 duration-300 ease-in-out"
            />
        </div>

        <div class="col-span-1 overflow-hidden h-[260px] md:h-[416px]">
            <img
                src="{{ theme.uri }}/assets/images/assets/images/our-work/2-2.jpg"
                alt="Wall cover"
                class="object-cover object-center w-full h-full hover:scale-110 duration-300 ease-in-out"
            />
        </div>

        <div class="col-span-1 overflow-hidden h-[260px] md:h-[416px]">
            <img
                src="{{ theme.uri }}/assets/images/assets/images/our-work/black-wall-wrap.jpg"
                alt="Wall cover"
                class="object-cover object-center w-full h-full hover:scale-110 duration-300 ease-in-out"
            />
        </div>

        <div class="col-span-1 overflow-hidden h-[260px] md:h-[416px]">
            <img
                src="{{ theme.uri }}/assets/images/assets/images/our-work/4-4.jpg"
                alt="Wall cover"
                class="object-cover object-center w-full h-full hover:scale-110 duration-300 ease-in-out"
            />
        </div>
    </section>

    <div
        class="bg-dark-green py-10 lg:py-20 flex justify-center items-center"
    >
        <button id="load-more" class="outline-button">Load More</button>
    </div>
{% endblock %}