<footer>
    <div class="container">
        <div
            class="flex flex-wrap lg:flex-nowrap pt-10 lg:pt-[70px] lg:justify-between lg:gap-5"
        >
            <div class="w-full lg:w-auto">
                <a href="./" target="_self">
                    <img
                        src="{{ theme.uri }}/assets/images/assets/logo/Brand-slogan.svg"
                        alt="Brand Works Logo"
                        class="w-full max-w-[300px] lg:max-w-[470px] h-auto"
                    />
                </a>
            </div>

            <div
                class="flex flex-wrap lg:flex-nowrap gap-10 lg:gap-40 text-sm w-full lg:w-auto mt-10 lg:mt-0"
            >
                <div class="flex flex-col gap-y-2 w-full lg:w-auto">
                    <span class="font-bold text-dark-green"
                        >OUR SERVICES</span
                    >
                    <a href="./vehicle-branding.html"
                        >Vehicle Branding</a
                    >
                    <a href="{{ site.url }}/print-and-display"
                        >Print & Display</a
                    >
                    <a href="./signage-and-branding.html"
                        >Signage & Branding</a
                    >
                    <a href="{{ site.url }}/architectural-wrap"
                        >Achitectural Wrap</a
                    >
                    <a href="{{ site.url }}/events-and-exhibitions"
                        >Events & Exhibitions</a
                    >
                </div>

                <div class="flex flex-col gap-y-2 w-full lg:w-auto">
                    <span class="font-bold text-dark-green">ABOUT</span>
                    <a href="{{ site.url }}/sectors">Sectors We Serve</a>
                    <a href="{{ site.url }}/our-work">Our Work</a>
                    <a href="{{ site.url }}/contact-us">Contact</a>
                </div>

                <div class="flex flex-col">
                    <span class="block pb-2 font-bold text-dark-green"
                        >GET IN TOUCH</span
                    >
                    Unit 17<br />
                    Green Lane Networkcentre<br />
                    Boothroyds Way<br />
                    Featherstone<br />
                    Pontefract<br />
                    WF7 6EN
                </div>
            </div>
        </div>

        <div class="flex lg:justify-end pb-10 pt-8 lg:pt-4">
            <div class="flex gap-4">
                <a
                    href="https://www.facebook.com/districtsignco"
                    target="_blank"
                    class="flex items-center"
                >
                    <i
                        class="fa-brands fa-facebook text-dark-green text-lg"
                    ></i>
                </a>

                <a
                    href="https://www.instagram.com/brandworksuk/"
                    target="_blank"
                    class="flex items-center"
                >
                    <i
                        class="fa-brands fa-instagram text-dark-green text-xl"
                    ></i>
                </a>

                <a
                    href="https://uk.linkedin.com/company/brand.works"
                    target="_blank"
                    class="flex items-center"
                >
                    <i
                        class="fa-brands fa-linkedin text-dark-green text-xl"
                    ></i>
                </a>
            </div>
        </div>

        <div
            class="flex flex-wrap items-center justify-between py-5 border-t border-dark-green"
        >
            <div class="flex flex-col text-dark-green">
                <span class="block"
                    >© Copyright Brand Works 2024. All rights
                    reserved.</span
                >
                <span class="block text-xs mt-4 lg:mt-0"
                    >Registered company in England and Wales. Brand
                    Works, trading as Retail Creations Ltd. No
                    10947829</span
                >
            </div>

            <div
                class="flex flex-wrap items-center gap-4 lg:gap-8 mt-4 lg:mt-0"
            >
                <a class="block w-full lg:w-auto" href="./"
                    >Privacy Policy</a
                >
                <a class="block w-full lg:w-auto" href="./"
                    >Terms Of Service</a
                >
                <a class="block w-full lg:w-auto" href="./"
                    >Cookies Settings</a
                >
            </div>
        </div>
    </div>
</footer>